In [5]:
%cd ..

/home/pauline/Dokumente/Delab_Projekt/delab

In [6]:
import pandas as pd

In [7]:
from util.sql_switch import get_query_native

#select all authors from the database

authors_tweets = get_query_native(
    "SELECT ta.id as author_id, conversation_id, screen_name , is_climate_author, climate_author_type FROM delab_tweet t, delab_tweetauthor ta WHERE t.author_id=ta.twitter_id")
#select only authors that are 'climate auhtors'
clauthors_tweets = authors_tweets.loc[authors_tweets['is_climate_author']== True]
clauthors_tweets = clauthors_tweets.replace(['non-governmental organisation'], 'NGO')

#group author by auhtor and conversations in order to analize the calculated variables for each author in each conversation
clauthors_tweets = clauthors_tweets.groupby(["author_id", "screen_name", "climate_author_type","conversation_id"]).mean()

#get needed variables from 'conversation' and 'conversation author metrics'
c_cam = get_query_native(
    "SELECT author_id, is_root_author, c.conversation_id, depth, branching_factor, centrality, baseline_vision, n_posts, root_dominance FROM delab_conversation c, delab_conversationauthormetrics cam WHERE c.conversation_id=cam.conversation_id")
c_cam = c_cam.groupby(["author_id", "conversation_id"]).mean()
c_cam = c_cam.loc[c_cam['is_root_author']==True]
#join both dataframes in order to match the climate author type with variables we want to analyze
analysis = clauthors_tweets.join(c_cam)
analysis_flattened = analysis.reset_index()
analysis_flattened

using postgres

/home/pauline/Dokumente/Delab_Projekt/delab/venv/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

using postgres

/home/pauline/Dokumente/Delab_Projekt/delab/venv/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,author_id,conversation_id,screen_name,climate_author_type,is_climate_author,is_root_author,depth,branching_factor,centrality,baseline_vision,n_posts,root_dominance
0,1,1414150136607948808,mnyomb1,activist,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1427328275773280265,mnyomb1,activist,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1509780204948017154,mnyomb1,activist,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1521343957086740486,mnyomb1,activist,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1532708095704580100,mnyomb1,activist,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9137,1618,1610320983872634881,climate_ice,scientist,1.0,1.0,4.0,6.0,2.166667,0.285156,2.0,7.0
9138,1619,1519656711455313921,EricTopol,scientist,1.0,1.0,3.0,8.0,6.500000,0.500000,1.0,9.0
9139,1619,1530931490636255232,EricTopol,scientist,1.0,1.0,7.0,35.0,21.166667,0.250000,1.0,36.0
9140,1619,1593290345646694401,EricTopol,scientist,1.0,1.0,10.0,46.0,22.722222,0.500000,1.0,47.0
9141,1619,1598785179417399296,EricTopol,scientist,1.0,1.0,4.0,17.0,13.166667,0.500000,1.0,18.0

In [8]:
analysis_ready = analysis_flattened.dropna()
analysis_ready

,author_id,conversation_id,screen_name,climate_author_type,is_climate_author,is_root_author,depth,branching_factor,centrality,baseline_vision,n_posts,root_dominance
7,1,1575916410295009308,mnyomb1,activist,1.0,1.0,3.0,5.0,3.500000,0.500000,1.0,0.166667
8,1,1578084206940487680,mnyomb1,activist,1.0,1.0,3.0,5.0,2.000000,0.250000,2.0,0.400000
9,1,1582639690309828609,mnyomb1,activist,1.0,1.0,6.0,59.0,14.138889,0.185547,3.0,0.051724
10,1,1585616351493820416,mnyomb1,activist,1.0,1.0,3.0,21.0,1.444444,0.118056,9.0,0.642857
11,1,1597566310191624196,mnyomb1,activist,1.0,1.0,9.0,20.0,1.100000,0.057031,10.0,21.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
9137,1618,1610320983872634881,climate_ice,scientist,1.0,1.0,4.0,6.0,2.166667,0.285156,2.0,7.000000
9138,1619,1519656711455313921,EricTopol,scientist,1.0,1.0,3.0,8.0,6.500000,0.500000,1.0,9.000000
9139,1619,1530931490636255232,EricTopol,scientist,1.0,1.0,7.0,35.0,21.166667,0.250000,1.0,36.000000
9140,1619,1593290345646694401,EricTopol,scientist,1.0,1.0,10.0,46.0,22.722222,0.500000,1.0,47.000000
9141,1619,1598785179417399296,EricTopol,scientist,1.0,1.0,4.0,17.0,13.166667,0.500000,1.0,18.000000

In [9]:
analysis_ready.to_pickle("./twitter/climate_conversations.pkl")

In [11]:
obj = pd.read_pickle("./twitter/climate_conversations.pkl")
obj

,author_id,conversation_id,screen_name,climate_author_type,is_climate_author,is_root_author,depth,branching_factor,centrality,baseline_vision,n_posts,root_dominance
7,1,1575916410295009308,mnyomb1,activist,1.0,1.0,3.0,5.0,3.500000,0.500000,1.0,0.166667
8,1,1578084206940487680,mnyomb1,activist,1.0,1.0,3.0,5.0,2.000000,0.250000,2.0,0.400000
9,1,1582639690309828609,mnyomb1,activist,1.0,1.0,6.0,59.0,14.138889,0.185547,3.0,0.051724
10,1,1585616351493820416,mnyomb1,activist,1.0,1.0,3.0,21.0,1.444444,0.118056,9.0,0.642857
11,1,1597566310191624196,mnyomb1,activist,1.0,1.0,9.0,20.0,1.100000,0.057031,10.0,21.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
9137,1618,1610320983872634881,climate_ice,scientist,1.0,1.0,4.0,6.0,2.166667,0.285156,2.0,7.000000
9138,1619,1519656711455313921,EricTopol,scientist,1.0,1.0,3.0,8.0,6.500000,0.500000,1.0,9.000000
9139,1619,1530931490636255232,EricTopol,scientist,1.0,1.0,7.0,35.0,21.166667,0.250000,1.0,36.000000
9140,1619,1593290345646694401,EricTopol,scientist,1.0,1.0,10.0,46.0,22.722222,0.500000,1.0,47.000000
9141,1619,1598785179417399296,EricTopol,scientist,1.0,1.0,4.0,17.0,13.166667,0.500000,1.0,18.000000